.background {
    background-image: url("https://1.bp.blogspot.com/-YqBy2UHxcgU/WjQ8zTeJI_I/AAAAAAAATXk/4nl7WOVtsPwDNiYYs3WIBmL6bQcetYXbwCLcBGAs/s320/mormon%2Brow.JPG");
    background-repeat:no-repeat;
    background-size:cover;
    height:100%;
}

.wrapper{
    position:absolute;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
}

.sidebar {
    top:0px;
    bottom:0px;
    left:0px;
    width:260px;
    background:black;
    position:absolute;
}

.content{
    top:0px;
    bottom:0px;
    left:260px;
    right:0px;
    background-color:rgba(0,0,0,.5);
    position:absolute;
    overflow-y:auto;
}

.heading{
    color:yellow;
    text-align:center;
    font-size:50px;
    font-family:sans-serif;
    font-style:italic;
}

.image{
    display:block;
    
}