.background {
    background-image: url("https://1.bp.blogspot.com/-YqBy2UHxcgU/WjQ8zTeJI_I/AAAAAAAATXk/4nl7WOVtsPwDNiYYs3WIBmL6bQcetYXbwCLcBGAs/s320/mormon%2Brow.JPG");
    background-repeat:no-repeat;
    background-size:cover;
    height:100%;
}

.wrapper{
    position:absolute;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
}

.sidebar {
    top:0px;
    bottom:0px;
    left:0px;
    width:220px;
    background:silver;
    position:absolute;
}

.navigation{


}

.names{
    color:rgb(60,179,113);
    text-align:center;
    font-size:15px;
    font-family:cursive;
    font-style:italic;
    margin-bottom:10px;
    margin-top:-20px;


}

.content{
    top:0px;
    bottom:0px;
    left:220px;
    right:0px;
    position:absolute;
    overflow-y:auto;

}

.heading{
    color:rgb(60, 179, 113);
    text-align:center;
    font-size:50px;
    font-family:cursive;
    font-style:italic;
    margin-bottom:20px;
    margin-top:5px;

}

img {    
min-width: 100%;
min-height: 100%;
width: auto;
height: auto;
overflow-x:auto;
}


    
